body {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: Verdana, Geneva, Tahoma, sans-serif
}
.homeNav{
    display: flex;
    justify-content: space-between
}
#mainLogo{
    width: 5em;
    height: 3em;
    margin: auto 2em;
    padding-right: 2em;
}
.homeNav>ul>li {
    list-style: none;
}
#services-nav{
    display: flex;
    justify-content: space-between;
}
#services-nav>li>div{
    text-align: center;
    margin: auto 1em;
    padding: 0.5em 1em;
    border-radius: 15px;
}
#services-nav>li>div:hover{
    background-color: rgb(206, 200, 200);
    cursor: pointer;
}
#services-nav>li>div>img{
    width:3em;
    height: 2em;
}
#help-nav{
    display: flex;
    justify-content: space-between;
    margin: auto 1em;
}
#help-nav>li{
    display: flex;
    align-items: center;
    margin: auto 1em;
    padding: 0.5em 1em;
    border-radius: 15px;
}
#help-nav>li:hover{
    background-color: rgb(206, 200, 200);
    cursor: pointer;
}
#main{
    background-image: url('../src/Images/skyline.jpg');
    background-repeat: no-repeat;
    background-position: center;
    height: 95vh;
    background-size: cover;
    position: relative;
}
#searchBus{
    position: absolute;
    top: 30%;
    left: 68%;
    transform: translate(-50%, -50%);
    width: 100vw;
}
#origin-search{
    font-size: 1em;
    padding: 2.7em;
    font-weight: bold;
    outline: none;
    border: 0.5px solid rgb(201, 195, 195);
}
#searchBus>input{
    font-size: 1em;
    padding: 2.7em;
    font-weight: bold;
    outline: none;
    border: 0.5px solid rgb(201, 195, 195);
}
#searchBus>button{
    background-color: rgb(232, 64, 64);
    font-weight: bold;
    font-size: 1em;
    padding: 2.7em;
    color:white;
    border-radius: 0 15px 15px 0;
}
#searchBus>#from{
    border-radius: 15px 0 0 15px;
}
#searchBus>#doj{
    padding: 3.3em;
}
#origin{

}
#fromList{
    position: absolute;
    top: 37%;
    left: 25%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 10em;
    list-style: none;
}
.filteredStops{
    margin:3em auto;
    font-weight: bold;
}
.filteredStops:hover{
    cursor: pointer;
}

#busesNav{
    display: flex;
    background-color: rgb(232 64 64);
    justify-content: space-between;
    align-items: center;
    color: white;
    height: 5em;
}
#busesNav img{
    height: 4em
}
#busesNav>ul{
    display: flex;
    list-style: none;
    justify-items: center;
    margin: auto 2em;
}
#busesNav>ul>li{
    margin: auto 1em
}
#busRoute{
    margin: 1em;
}
#travelPlan{
    display: flex;
    font-weight: bolder;
    margin: 1em;
}
#travelPlan>button{
    padding: 0.5em 2em;
    border-radius: 5px;
}
#busSelection{
    display: flex;
}
#filters{
    margin: 1em;
    width: 20%;
}
#filters>ul{
    list-style: none;
    margin-left: -2.5em;
}
#filters>ul>li{
    margin: 0.5em auto;
}
#filters>p{
    font-weight: bolder;
}
#filters>ul>li>input{
    margin: auto 1em;
}
#buslist{
    max-width: 80%;
    margin: 1em;
}
#card{
    padding: 1em;
    display: grid;
    grid-template-columns: 2fr 0.75fr 0.5fr 0.75fr 0.5fr 1fr 1fr;
    width: 100%;
    border: 2px solid gray;
    font-size: 0.9em;
    column-gap: 1em;
}
#card button{
    background-color: rgb(232 64 64);
    padding: 1em;
    border: none;
    color: white;
    font-size: 1em;
}
#card button:hover{
    cursor: pointer;
    background-color: rgb(251, 34, 34);
}
.text-bold{
    font-weight: bolder;
    font-size: 1.2em;
}

#seatPlan{
    width: 100%;
    height: auto;
    background-color: lightgray;
    display: flex;
}
#seat-Selection{
    width: 60%;
    margin: 5em;
}

#station{
    width: 40%
}
#buses{
    position: relative;
}
#bus{
    display: flex;
    width: 100%;
    background-color: white;
    height: 80%;
    border: 2px solid black;
    border-left: 10px solid black;
}
#seats{
    padding: 1em;
    display: grid;
    grid-template-rows: 1fr 1fr;
    row-gap: 2em;
}
#driver{
    width: 3em;
    border-right: 4px solid black;
    background-color: white;
}

.seat{
    width: 1.5em;
    height: 1.5em;
    border: 5px solid black;
    border-left: 1px solid gray;
}
.seat:hover{
    cursor: pointer;
    background-color: rgb(246, 84, 84);
}
#right, #left{
    height: 50%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 5px;
}

#station{
    background-color: white;
    margin: 4em;
    padding: 2em;
    box-shadow: 2px 2px 2px black;
}
#station p {
    font-weight: bold;
}
#station button{
    background-color: rgb(232 64 64);
    padding: 1em;
    border: none;
    color: white;
    font-size: 1em;
}
#station button:hover{
    cursor: pointer;
    background-color: rgb(251, 34, 34);
}

#passengerDetails{
    position: absolute;
    top: 0;
    right: 0;
    background-color: white;
    z-index: 10;
    height: 100%;
    padding: 2em 3em;
    width: 30vw;
    box-shadow: 0 5px 5px black;
}
#passengerDetails input{
    width: 90%;
    padding: 0.5em;
    margin: 0.5em auto;
    outline: none;
}

#passengerDetails button{
    background-color: rgb(251, 34, 34);
    padding: 5px;
    color: white;
    border: none;
}
.gender-age{
    display: flex;
}
#gender{
    display: flex;
    flex-direction: column;
    width: 50%;
    
}
#Male{
    background-color: red;
}